<div class="stack-menue-container">
    <div class="stack-item-container" (click)="filterUsers('online')">
        <img src="https://cdn.okccdn.com/php/load_okc_image.php/images/225x225/225x225/0x0/600x600/2/16889293577162456471.jpeg" alt="">
        <span>Online</span>
    </div>
    <div class="stack-item-container" (click)="filterUsers('new_people')">
        <img src="https://cdn.okccdn.com/php/load_okc_image.php/images/225x225/225x225/0x0/600x600/2/16889293577162456471.jpeg" alt="">
        <span>New People</span>
    </div>
    <div class="stack-item-container" (click)="filterUsers('nearby')">
        <img src="https://cdn.okccdn.com/php/load_okc_image.php/images/225x225/225x225/0x0/600x600/2/16889293577162456471.jpeg" alt="">
        <span>Nearby</span>
    </div>
    <div class="stack-item-container" (click)="filterUsers('all')">
        <!-- Should contain the first users image  -->
        <img src="https://cdn.okccdn.com/php/load_okc_image.php/images/225x225/225x225/0x0/600x600/2/16889293577162456471.jpeg" alt="">
        <span>All</span>
    </div>
</div>