.navigation {
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 90000;
  top: 0;
  left: 0;
  // width: 100%;
  padding: 0 53px;
  height: 65px;
  background-color: #3b354d;
  box-shadow: 1px 1px 1px;

  .nav-container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .nav-logo-container {
      display: flex;
      width: 12%;
      align-items: center;
      justify-content: space-around;

      .app-logo {
        display: block;
        width: 114px;
        font-size: 27px;
        background-position: center 62%;
        color: white;
      }

      img {
        width: 61px;
        height: 61px;
      }
    }

    .profile-btn-container {
      position: relative;
      margin-right: 4px;
      width: 12%;

      .profile-btn-username {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 120px;
        text-align: left;
        font-size: 14px;
        color: white;
      }
  
      .profile-btn-thumbnail {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        object-fit: cover;
      }
  
      .profile-btn-thumbnail-wrapper {
        position: relative;
        display: inline-block;
        height: 40px;
        margin-right: 8px;
      }
  
      .profile-btn-details {
        display: flex;
        align-items: center;
      }
  
      .profile-btn {
        background: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        color: #fff;
        padding: 0 16px;
        height: 100%;
        min-width: 142px;
        display: flex;
        position: relative;
      }
    }

    .nav-link-container {
      display: flex;
      width: 35%;
      justify-content: space-evenly;

      .nav-link {
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
        text-decoration: none;
        justify-content: space-evenly;
        width: 17%;
  
        .nav-bar-link-text {
          font-size: 14px;
        }
  
        .like-cnt {
          width: 20px;
          width: 18px;
          height: 17px;
          border-radius: 50%;
          position: relative;
          bottom: 8px;
          left: 9px;
          background-color: #e45b5c;
          z-index: 2;
          text-align: center;
          padding: 3px;
        }
      }
  
      .nav-link:hover {
        background: #333;
        color: #8c8c8c;
      }
    }
  }
}
